.container_telecom_data_cardgame {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_telecom_data_cardgame {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_telecom_data_cardgame {
    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .card_telecom_data_cardgame {
    position: relative;

    & > p {
      border-radius: 4px;
      background: #ff9900;
      font-size: 0.5rem;
      font-weight: 700;
      position: absolute;
      color: #ffffff !important;
      padding: 0 4px;

      top: -16px;
      right: -16px;
    }
  }

  .tip_content {
    padding: 4px 0 4px 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(237, 245, 255, 1);

    & p {
      margin: 0 !important;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 20px;
      color: rgba(0, 122, 255, 1);

      padding-left: 12px;
    }
  }
}
