.container_lovely_app {
  padding: 12px;
  margin-top: 12px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_lovely_app {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_lovely_app {
    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .card_lovely_app {
    position: relative;

    & > p {
      border-radius: 4px;
      background: #ff9900;
      font-size: 0.5rem;
      font-weight: 700;
      position: absolute;
      color: #ffffff !important;
      padding: 0 4px;

      top: -16px;
      right: -16px;
    }
  }
}
