.container_the_following_brand {
  padding: 12px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_the_following_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_the_following_brand {
    display: flex;
    align-items: start;
    justify-content: space-between;

    padding-bottom: 28px;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }

    & > div:first-of-type {
      margin-left: 0;
    }

    & > div {
      & p {
        width: 64px;
        margin: 4px 0 0 0;
      }

      margin-left: 8px;
    }
  }

  .card_the_following_brand {
    position: relative;
  }
}
