.container_hot_deal {
  padding: 12px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_hot_deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_hot_deal {
    display: flex;
    align-items: start;
    justify-content: space-between;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }

    & > div:first-of-type {
      margin-left: 0px !important;
    }

    & > div {
      margin: 0 0 12px 12px;
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    }

    .card_hot_deal {
      & p {
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */

        text-align: left;
      }
    }
  }

  .card_hot_deal {
    position: relative;
  }
}
