.container_preferential_traveling {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_preferential_traveling {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_preferential_traveling {
    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  .card_special_healthcare_package {
    position: relative;

    // margin-bottom: 28px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

    & img {
      border-radius: 4px;
    }

    & .card_item_title {
      display: flex;
      align-items: center;
      justify-content: start;

      margin: 6px 0;

      & > img {
        width: 16px;
        height: 16px;
        border-radius: 48px;
      }

      & > p {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 140% */
        letter-spacing: 0.1px;

        margin: 0 4px;
      }
    }

    & .card_item_content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;

      margin-bottom: 8px;

      & > p {
        margin: 0 !important;
        text-align: left;
      }

      & > p:first-of-type {
        color: #434b58;
        text-align: center;
        font-family: "SF Pro Display";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
      }

      & > p:nth-of-type(2) {
        overflow: hidden;
        color: #888f97;
        text-overflow: ellipsis;
        font-family: "SF Pro Display";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 140% */
        letter-spacing: 0.1px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        align-self: stretch;
      }
    }
  }

  & .more_text {
    user-select: none;

    padding: 4px 12px 4px 12px;

    margin: 0 auto;

    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    & .icon_button {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      width: 114px;
      height: 28px;
      background: #edf5ff;

      & > .MuiSvgIcon-root {
        width: 15px !important;
        height: 9px !important;
      }
    }

    & span {
      font-weight: 500;
      font-size: 0.875rem;
      color: #007aff;
      line-height: 20px;
      text-align: center;

      padding: 0 8px;
    }
  }
}
