.container_financial_n_insurance {
  padding: 12px 20px 20px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  & :global(.MuiTab-root) {
    width: 50%;
    color: #101010 !important;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: unset;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  & :global(.Mui-selected) {
    font-weight: 500 !important;
  }

  & :global(.MuiTabs-indicator) {
    background-color: #007aff;
  }

  & :global(.MuiTabPanel-root) {
    padding: 0 !important;
  }

  //===============================================================================================
  .box_final_preferential_list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    padding: 12px 0;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }

    & > div {
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      padding: 8px;
    }
  }

  .card_final_preferential_list {
    position: relative;
  }

  .content_item_list {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 100px;

    & p {
      margin: 0;
      text-align: left;
    }

    & > p:first-of-type {
      font-weight: 600;
      font-size: 0.875rem;
      color: #434b58;
      line-height: 18px;

      margin: 0 4px !important;
    }

    & > p:nth-of-type(2) {
      font-weight: 400;
      font-size: 0.75rem;
      color: #888f97;
      line-height: 16px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    & > p:nth-of-type(3) {
      font-weight: 400;
      font-size: 0.625rem;
      color: #888f97;
      line-height: 14px;
    }

    //=========================================================================
    & img {
      border-radius: 4px;
    }

    & .card_item_title {
      display: flex;
      align-items: center;
      justify-content: start;

      margin: 6px 0;

      & > img {
        width: 16px;
        height: 16px;
        border-radius: 48px;
      }

      & > p {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 140% */
        letter-spacing: 0.1px;

        margin: 0 4px;
      }
    }

    & .card_item_content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;

      margin-bottom: 8px;

      & > p {
        margin: 0 !important;
        text-align: left;
      }

      & > p:first-of-type {
        color: #434b58;
        text-align: center;
        font-family: "SF Pro Display";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
      }

      & > p:nth-of-type(2) {
        overflow: hidden;
        color: #888f97;
        text-overflow: ellipsis;
        font-family: "SF Pro Display";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 140% */
        letter-spacing: 0.1px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        align-self: stretch;
      }
    }
  }
}
