.container_voucher_coupon {
  padding: 12px 20px 20px 20px;
  margin: 12px 0;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_voucher_coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }
  }

  .box_voucher_coupon {
    display: flex;
    align-items: start;
    justify-content: space-between;

    padding-bottom: 28px;

    & p {
      text-align: center;
      color: #434b58;
      font-size: 0.6875rem;
      margin-top: 8px;
      font-weight: 500;
    }

    & > div:first-of-type {
      margin-left: 0;
    }

    & > div {
      & p {
        width: 64px;
        margin: 4px 0 0 0;
      }

      margin-left: 8px;
    }
  }

  .card_voucher_coupon {
    position: relative;
  }

  //======================================================================
  .voucher_coupon_double {
    padding: 12px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  .content_item_list {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;

    & p {
      margin: 0;
      text-align: left;
    }

    & > p:first-of-type {
      font-weight: 600;
      font-size: 0.875rem;
      color: #434b58;
      line-height: 18px;

      margin: 0 4px !important;
    }

    & > p:nth-of-type(2) {
      font-weight: 400;
      font-size: 0.75rem;
      color: #888f97;
      line-height: 16px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    & > p:nth-of-type(3) {
      font-weight: 400;
      font-size: 0.625rem;
      color: #888f97;
      line-height: 14px;
    }

    //=========================================================================
    & img {
      border-radius: 4px;
    }

    & .card_item_title {
      display: flex;
      align-items: center;
      justify-content: start;

      margin: 6px 0;

      & > img {
        width: 16px;
        height: 16px;
        border-radius: 48px;
      }

      & > p {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 140% */
        letter-spacing: 0.1px;

        margin: 0 4px;
      }
    }

    & .card_item_content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;

      margin-bottom: 8px;

      & > p {
        margin: 0 !important;
        text-align: left;
      }

      & > p:first-of-type {
        color: #434b58;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }

      & > p:nth-of-type(2) {
        color: #888f97;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 120% */
        letter-spacing: 0.1px;
      }
    }
  }
}
