body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-Regular.otf") format("truetype");
}
