.container_promotion_discount {
  padding: 12px 20px 36px 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.08);

  .title_promotion_discount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    & > p:first-child {
      font-weight: 500;
      font-size: 1rem;
      color: #101010;
    }

    & > p:last-child {
      font-weight: 400;
      font-size: 0.875rem;
      color: #007aff;
    }

    & .suggest_text {
      border: 2px solid rgba(255, 86, 92, 0.5);
      border-radius: 5px;

      position: absolute;
      left: 200px;
      top: 0px;

      & > div {
        background: #ff565c;
        font-weight: 400;
        font-size: 0.625rem;
        color: #ffffff;
        padding: 2px 4px;
        border-radius: 3px;
      }
    }
  }

  .card_promotion_discount {
    height: 180px;
  }

  .slider_container {
    height: 180px !important;

    :global .slick-slider {
      & > .slick-list {
        & > .slick-track {
          & > .slick-slide {
            padding: 0 12px !important;
          }
        }
      }

      & > .slick-dots {
        bottom: -20px !important;

        & li {
          margin: 0 !important;
          width: 16px !important;
        }

        & li.slick-active button:before {
          color: rgba(0, 122, 255, 1) !important;
        }

        & li button:before {
          color: rgba(0, 122, 255, 0.3) !important;
        }
      }
    }
  }
}
